@font-face{
	font-family: 'Crimson Text';
	src: url('CrimsonText.ttf');
}
html,
button,
input {
	font-family: 'Crimson Text', georgia, serif;
	font-size: 14pt;
}
div{
	margin: auto;
	width: 680px;
}
h1 {
	text-align: center;
}
button {
	background-color: dodgerblue;
	border: none;
	color: white
}
table {
	margin: auto;
	width: 480px;
	border-collapse: collapse;
}
tr{
	height: 40px;
}
tr:last-child {
	text-align: center;
}
tr:not(:last-child):not(:first-child) td:last-child {
	text-align: right;

}
input[type='text'] {
	width: 100%;
	box-sizing: border-box;
}
.btn {
    background-color: #eee;
    background-image: linear-gradient(to bottom,#fcfcfc 0,#eee 100%);
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; 
    font-size: .6rem;
    font-weight: bold;
    padding: 4px 6px 4px 6px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
